.user-info {
    background: linear-gradient(225deg, rgb(76, 54, 0) 0%, grey 7%, black 50%, grey 90%, rgb(76, 54, 0) 100%);
    color: rgb(252, 252, 252);
    width: 95%;
    border-radius: 10%;
    margin: 10px 0;
    padding: 10px;
    text-shadow: rgb(61, 61, 61);
    text-align: center;
    font-weight: bold;
}

.user-info h2 {
    color: rgb(0, 244, 244);
}

.user-info h3 {
    color: aquamarine;
    text-shadow: gold 1px 1px 1px;
}

@media (min-width: 768px) {
    .user-info {
        max-width: 600px;
    }
}